/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* Sankhya-W 4.0 */

.form-item {
  font-family: Arial;
  margin-bottom: 20px;
}

.form-item label {
  font-size: 13px;
  color: #333;
  font-weight: normal;
}

.input-sw {
  height:26px;
  margin: 0;
  padding: 5px;
  position: relative;
  display: block;
  outline: none;
  border: none;
  border-radius:0;
  background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
  background-size: 1px 6px, 1px 1px, 1px 6px;
  box-shadow:none;
}

.input-sw:focus {
  box-shadow:none;
}

.input-group-sw {
  position: relative;
}

.input-group-addon-sw {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.input-group-addon-sw:hover,
.input-group-addon-sw:active {
  color: #0066FF;
}

.select-sw {
  height:26px;
  margin: 0;
  padding: 5px;
  position: relative;
  display: block;
  outline: none;
  border: none;
  border-radius:0;
  background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
  background-size: 1px 6px, 1px 1px, 1px 6px;
  box-shadow:none;
}

.checkbox-sw {
  width: 100%;
}

.clear{
  clear:both;
}

input.ng-invalid {
   background: red;
 }

select {
  width:100%;
}

/* CSS Switch Button */
.toggle-bg {
  background: #fff;
  border-radius: 2em;
  border: 0.12em solid #e6e6e6;
  display: block;
  float: left;
  height: 2em;
  position: relative;
  width: 3.2em;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  position: relative;
}

.toggle-bg:hover {
  border-color: #d9d9d9;
}

.toggle-bg.S {
  background: #5ca33a;
  border-color: #4f8e31;
}

.toggle-bg input {
  margin: 0;
  padding: 0;
  width: 4.8em;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 2;
  zoom: 1;
  filter: alpha(opacity=0);
}

.toggle-bg input:checked ~ .switch {
  left: 0;
}

.toggle-bg input ~ :checked ~ .switch {
  left: 1.18em;
}

.toggle-bg input:checked {
  z-index: 0;
}

.switch {
  background: white;
  border-radius: 2em;
  border: 0.1em solid #d9d9d9;
  display: block;
  float: left;
  height: 1.9em;
  width: 1.9em;
  left: -.1em;
  position: relative;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  z-index: 1;
}

.switch.S {
  box-shadow: -0.2em 0.2em 0.5em rgba(0, 0, 0, 0.06), 0.4em 0.4em 1.5em rgba(0, 0, 0, 0.08);
}

.switch.N {
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.06), -0.4em 0.4em 1.5em rgba(0, 0, 0, 0.08);
}

.toggle-alternate {
  clear: both;
  width: 4.48em;
}

.toggle-alternate input {
  width: 6.24em;
}

.toggle-alternate input ~ :checked ~ .switch {
  left: 2.46em;
}

.toggle-alternate label {
  font-weight: 300;
  font-size: .9em;
  text-transform: uppercase;
  position: absolute;
  top: 0.5em;
}

.toggle-bg label.S {
  left: .75em;
  color: white;
  text-shadow: 0 0.1em 0 #00dc61;
}

.toggle-bg label.N {
  right: .55em;
  color: #aaa;
}