/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* Sankhya-W 4.0 */

.form-item {
  font-family: Arial;
  margin-bottom: 20px;
}

.form-item label {
  font-size: 13px;
  color: #333;
  font-weight: normal;
}

.input-sw {
  height:26px;
  margin: 0;
  padding: 5px;
  position: relative;
  display: block;
  outline: none;
  border: none;
  border-radius:0;
  background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
  background-size: 1px 6px, 1px 1px, 1px 6px;
  box-shadow:none;
}

.input-sw:focus {
  box-shadow:none;
}

.input-group-sw {
  position: relative;
}

.input-group-addon-sw {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.input-group-addon-sw:hover,
.input-group-addon-sw:active {
  color: #0066FF;
}

.select-sw {
  height:26px;
  margin: 0;
  padding: 5px;
  position: relative;
  display: block;
  outline: none;
  border: none;
  border-radius:0;
  background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
  background-size: 1px 6px, 1px 1px, 1px 6px;
  box-shadow:none;
}

.checkbox-sw {
  width: 100%;
}

.clear{
  clear:both;
}

select {
  width:100%;
}

input:focus:required:invalid:focus, 
textarea:focus:required:invalid:focus, 
select:focus:required:invalid:focus,
select.ng-invalid,
input.ng-invalid.ng-dirty {
  background: bottom left linear-gradient(#e9322d, #e9322d) no-repeat, bottom center linear-gradient(#e9322d, #e9322d) repeat-x, bottom right linear-gradient(#e9322d, #e9322d) no-repeat;
  background-size: 1px 6px, 1px 1px, 1px 6px;
  box-shadow:none;
}

/* CSS Switch Button */
.onoffswitch {
    position: relative; width: 77px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
    user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #ccc; 
    border-radius: 18px;
}

.onoffswitch-inner {
    display: block; width: 200%; 
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; 
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; 
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, 
.onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 26px; 
    padding: 0; 
    line-height: 26px;
    font-size: 14px; color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: attr(data-label-true);
    padding-left: 10px;
    background-color: #5CA33A; 
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: attr(data-label-false);
    padding-right: 10px;
    background-color: #EEEEEE; 
    color: #302F2F;
    text-align: right;
}

.onoffswitch-switch {
    display: block; 
    width: 23px; 
    margin: 3.5px;
    background: #FFFFFF;
    border: 2px solid #ccc; 
    border-radius: 18px;
    position: absolute; 
    top: 0; 
    bottom: 0; 
    right: 45px;
    -moz-transition: all 0.3s ease-in 0s; 
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; 
    transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}