<div class="col-xs-12 col-sm-6 col-md-4 col-xl-3">
  <div ng-switch on="metadata.type">
    <div class="form-item">
      <label for="field-{{ metadata.id }}">{{ metadata.description }}<span ng-show="metadata.isNuable === 'false'"> *</span></label>

      <!-- Text -->
      <div ng-switch-when="S">
        <input ng-readonly="{{ metadata.isReadOnly }}" type="text" class="form-control input-sw" id="field-{{ metadata.id }}" ng-model="record[metadata.name]" ng-required="true" ng-disabled="metadata.disabled">
      </div>

      <!-- Number -->
      <div ng-switch-when="I">
        <input type="number" ng-readonly="{{ metadata.isReadOnly }}" class="form-control input-sw" id="field-{{ metadata.id }}" ng-model="record[metadata.name]" ng-required="field.isNuable" ng-disabled="metadata.disabled">
      </div>

      <!-- Email -->
      <div ng-switch-when="email">
        <input type="email" ng-readonly="{{ metadata.isReadOnly }}" class="form-control" id="field-{{ metadata.id }}" ng-model="record[metadata.name]" ng-required="metadata.isNuable" ng-disabled="metadata.disabled">
      </div>

      <!-- Password -->
      <div ng-switch-when="password">
        <input type="password" ng-readonly="{{ metadata.isReadOnly }}" class="form-control" id="field-{{ metadata.id }}" ng-model="record[metadata.name]" ng-required="metadata.isNuable" ng-disabled="metadata.disabled">
      </div>

      <!-- Date -->
      <div class="input-group-sw" ng-switch-when="H">
        <input type="text" ng-readonly="{{ metadata.isReadOnly }}" class="form-control input-sw" datepicker-popup="dd/MM/yyyy" is-open="$parent.opened" show-button-bar="false" ng-model="record[metadata.name]" ng-required="metadata.isNuable" ng-disabled="metadata.disabled">
        <div class="input-group-addon-sw"><i class="glyphicon glyphicon-calendar" ng-click="openCalendar($event)"></i></div>
      </div>

      <!-- ComboBox 
        Obs.: Será renderizado como um campo de texto caso esteja em modo read-only.
        Obs.: Irá apresentar uma opção em branco caso não seja "required".
      -->
      <div ng-switch-when="C">
        <div ng-switch on="metadata.isReadOnly">
          <span ng-switch-when="true">
            <input ng-readonly="{{ metadata.isReadOnly }}" type="text" class="form-control input-sw" id="field-{{ metadata.id }}" ng-model="record[metadata.name]" ng-required="field.isNuable" ng-disabled="metadata.disabled">
          </span>
          <span ng-switch-default>
            <select ng-disabled="{{ metadata.isReadOnly }}" id="field-{{ metadata.id }}" class="form-control select-sw" ng-required="metadata.isNuable" ng-model="record[metadata.name]" ng-options="option.Value as option.Label for option in metadata.options">
              <option ng-show="metadata.isNuable" value=""></option>
            </select>
          </span>
        </div>
      </div>

      <!-- Boolean -->
      <div ng-switch-when="B">
        <div class="checkbox-sw">
          <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch-btn-sw" ng-model="record[metadata.name]" checked>
            <label class="onoffswitch-label" for="switch-btn-sw">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
          </div>
          {{ record[metadata.name] }}
          <br class="clear"/>
        </div>
      </div>
    </div>
  </div>
</div>