<div class="col-xs-12 col-sm-6 col-md-4 col-xl-3">
  <div ng-switch on="metadata.type">
    <div class="form-item">
    
      <label for="field-{{ metadata.id }}">{{ metadata.description }}<span ng-show="metadata.isNuable === 'false'"> *</span></label>

      <!-- Text -->
      <div ng-switch-when="S">
        <input type="text" id="field-{{ metadata.id }}" class="form-control input-sw" ng-model="record[metadata.name]" ng-readonly="metadata.isReadOnly" ng-required="metadata.isNuable" ng-disabled="metadata.disabled">
      </div>

      <!-- Number -->
      <div ng-switch-when="I">
        <input type="number" id="field-{{ metadata.id }}" class="form-control input-sw" ng-model="record[metadata.name]" ng-required="metadata.isNuable" ng-readonly="metadata.isReadOnly" ng-disabled="metadata.disabled" pattern="[0-10]">
      </div>

      <!-- Email -->
      <div ng-switch-when="email">
        <input type="email" class="form-control" id="field-{{ metadata.id }}" ng-model="record[metadata.name]" ng-required="metadata.isNuable" ng-readonly="metadata.isReadOnly" ng-disabled="metadata.disabled">
      </div>

      <!-- Password -->
      <div ng-switch-when="password">
        <input type="password" id="field-{{ metadata.id }}" class="form-control" ng-model="record[metadata.name]" ng-required="metadata.isNuable" ng-readonly="metadata.isReadOnly" ng-disabled="metadata.disabled">
      </div>

      <!-- Date -->
      <div class="input-group-sw" ng-switch-when="H">
        <input type="text" id="field-{{ metadata.id }}" class="form-control input-sw" datepicker-popup="dd/MM/yyyy" is-open="$parent.opened" show-button-bar="false" ng-model="record[metadata.name]" ng-readonly="metadata.isReadOnly" ng-required="metadata.isNuable" ng-disabled="metadata.disabled">
        <div class="input-group-addon-sw"><i class="glyphicon glyphicon-calendar" ng-click="openCalendar($event)"></i></div>
      </div>

      <!-- Combobox -->
      <div ng-switch-when="C">
        <select id="field-{{ metadata.id }}" class="form-control select-sw" ng-required="metadata.isNuable" ng-model="record[metadata.name]" ng-options="option.Value as option.Label for option in metadata.options" ng-readonly="metadata.isReadOnly" ng-disabled="metadata.disabled">
        </select>
      </div>

      <!-- Boolean -->
      <div ng-switch-when="B">
        <div class="checkbox-sw">
          <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch-btn-sw" ng-model="record[metadata.name]" ng-required="metadata.isNuable" checked>
            <label class="onoffswitch-label" for="switch-btn-sw">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>